{{- if .Values.istio.enabled }}
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: sorteador-virtualservice
  namespace: {{ .Release.Namespace }}
spec:
  hosts:
    - {{ .Values.istio.host | quote }}
  gateways:
    - sorteador-gateway
  http:
    - match:
        - uri:
            prefix: /
      headers:
        request:
          set:
            x-forwarded-proto: "https"
            x-forwarded-port: "443"
      route:
        - destination:
            host: {{ .Values.service.name }}.{{ .Release.Namespace }}.svc.cluster.local
            port:
              number: {{ .Values.service.port }}
{{- end }}
