name: Pipeline CI/CD DevOps

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  ci:
    uses: paulocesar-prog/linuxtips-cicd-reusable/.github/workflows/pipeline-cd.yaml@main
    with:
      working-directory: app
      aws-region: us-east-1
    secrets:
      AWS_ROLE_TO_ASSUME: ${{ secrets.AWS_ROLE_TO_ASSUME }}
      COSIGN_KEY: ${{ secrets.COSIGN_KEY }}
      COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
